body {
  	
}

h1{
	font-size: 25px;
	color: #008B8B;
	text-align: center;
}

h2{
	font-size: 20px;
	text-align: center;
}

.content {
  	margin: 10px auto;
  	width: 70%;
}

.clearfix {
  	clear: both;
}
